/* CSS MANUAL SOLO PROVISIONAL!! - MOMENTANEO MIENTRAS SE IMPORTAN LAS LIBRERIAS DE CSS*/
a{
    text-decoration: none;
    width: 55%;
    height: 2em;
    padding: 1rem;
    font-size: 1.15em;
    font-weight: bold;
    background-color: rgb(163, 191, 251);
    border: 2px;
    border-radius: 8%;
    align-content: center;
}

form{
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    background-color: rgb(195, 195, 219);
    border-radius: 1.7em;
    height: 5%m;
    width: 20%;
    padding: 1em;
    margin: 2em;
    border: 1.2em;
    /*display: flex;
    justify-content: center;*/
    align-items: center;
    align-content: center;
}

table, th, td {
    border:1px solid black;
}

#filterOptions{
    background-color: rgb(197, 197, 197);
    display: flex;
    width: 80%;
    height: 4vmax;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#filterOptions form{
    display: flex;
    flex-direction: row;
    align-content: center;
    width:auto;
    height: -webkit-fill-available;
}

.examTable{
    padding: 0;
    width:80%;
    text-align: center;
}

.examTable a{
    padding: 0;
}

h4{
    margin: 0%;
}

.updateFormIndic{
    background-color: rgb(203, 203, 222);
    border-radius: 1.7em;
    height: 5%m;
    width: 20%;
    padding: 1em;
    margin: 1em;
    border: 1.2em;
}

#btnAddI, #btnAddC{
    width: 50%;
    height: 2em;
    font-size: 1.15rem;
    font-weight: bold;
    background-color: rgb(220, 179, 246);
    border: 3px rgb(168, 130, 191);
    border-radius: 50vmax;
    margin:2rem;
    /*margin-top: 4%;
    margin-bottom: 14.3%;
    margin-left: 138px;
    margin-right: 129px;
    /*position: center;*/
    /*bottom: 20%;
    right: 20%;*/
    align-content: center;
}

#navBarOptions{
    margin: 2em;
}

/*#navIndic{
    width: 55%;
    height: 2.2em;
    padding: 1.08rem;
    font-size: 1.15em;
    font-weight: bold;
    background-color: rgb(152, 178, 233);
    border: 3px rgb(168, 130, 191);
    border-radius: 67vmax;
    align-content: center;
    /*margin-top: 2em;*/
    /*position: center;*/ 
    /*bottom: 20%;
    right: 20%;*/
    /*text-decoration: none;
}*/