{%extends 'base.html.jinja'%}
{%block contentBase%}
   <h1>{% block title %} Exams & Services Catalogue: {% endblock %}</h1>
   <div id="filterOptions">
      <h4> Filter By: </h4>
      <form action="/filter" method="POST"> 
         <label> Category:</label>
         <select name="categoryFilter">
               <option value=""> Select a category</option>
            {% for c in categorias %}
               <option value="{{c.name}}"> {{c.name}}</option>
            {%endfor%}
         </select>
         <label> Sample type:</label>
         <input type="text" name="sampleFilter" placeholder="Sample type">
         <input id="btnFilter" type="submit" value="Filter">
      </form>
   </div>
   <table class="examTable">
      <tr name="tableHeaders">
         <th>Exam Code</th>
         <th>Exam Name</th>
         <th>Sample type</th>
         <th>Price (Bs)</th>
         <th>Consult here</th>
      </tr>
      {%for filtered in exams%}
         <tr name="rowInfo">
            <td>{{filtered.codeExam}}</td>
            <td>{{filtered.name}}</td>
            <td>{{filtered.typeOfSample}}</td>
            <td>{{filtered.price}}</td>
            <td>
               <a href="/detailedServ/{{filtered._id}}">Consult this</a>
               <a href="/updateS/{{filtered._id}}">Update</a>
               <a href="/deleteS/{{filtered._id}}">Delete</a>
            </td>
         </tr>
      {%endfor%}
   </table>
{%endblock%}