{% extends 'base.html.jinja' %}
{% block contentBase %}
    <div class="createFormIndic"> 
        <h1> {% block title %} Add Indication {% endblock %}</h1>
        <form method="POST">
            <div>
                <label for="indicationCode">Indication Code: </label><br>
                <input type="string" name="indicationCode" placeholder="Code here">
                <br>
            </div>
            <div>
                <label for="indicationDescription">Description of this indication: </label><br>
                <input type="string" name="indicationDescription" placeholder="Description here">
                <br>
            </div>
            <input id="btnAdd" type="submit" value="Add">
        </form>
    </div>
{% endblock %}