{% extends 'base.html.jinja' %}
{% block contentBase %}
  <div id="infoCateg">
        <h1> {% block title %} Category: {% endblock %}</h1>
        <a href="{{ url_for('addCategory') }}"> Add </a>
        <h3> Categories List: </h3>
  </div>
  <div id="categListCont">
        <ul>
            {% for x in categorias %}
                <li>
                    <p>{{ x.name }}</p> 
                    <p>{{x.description}} </p>
                    <a href="/updateC/{{x._id}}">Update</a> 
                    <a href="/deleteC/{{x._id}}">Delete</a> 
                </li>
            {% endfor %}
        </ul>
  </div>
{% endblock %}