{% extends 'base.html.jinja' %}
{% block contentBase %}
  <div id="infoIndic">
        <h1> {% block title %} Indication: {% endblock %}</h1>
        <a href="{{ url_for('addIndication') }}"> Add </a>
        <h3> Indication List: </h3>
  </div>
  <div id="indicListCont">
        <ul>
            {% for x in indicaciones %}
                <li>
                    <p>{{ x.codeIndic }}</p> 
                    <p>{{x.description}} </p>
                    <a href="/update/{{x._id}}">Modificar</a> 
                    <a href="/delete/{{x._id}}">Eliminar</a> 
                </li>
            {% endfor %}
        </ul>
  </div>
{% endblock %}