{% extends 'base.html.jinja' %}
{% block contentBase %}
  <div id="infoCateg">
        <h1> {% block title %} Category: {% endblock %}</h1>
        <a href="{{ url_for('addCategory') }}"> Add </a>
        <h3> Categories List: </h3>
  </div>
  <div id="categListCont">
        <ul>
            {% for c in categorias %}
                <li>
                    <p>{{c.name}}</p> 
                    <p>{{c.description}} </p>
                </li>
            {% endfor %}
        </ul>
  </div>
{% endblock %}