{% extends 'mainPage.html.jinja' %}
{% block contentMain %} 
    <form class="user_info">
        <p id="userMessage">Fill with ur data to login </p>
        <div id="userName">
            <label id="username">Username:</label>
            <input type="text" name="username">
            <br>
        </div>
        <div id="userPassword">
            <label id="password">Password:</label>
            <input type="password" name="password">
            <br>
        </div>
        <input id="btnLoggin" type="submit" value="Loggin">     
    </form>
    <div id="toRegister">
        <p id="access_message">You have an account? Sign in here </p>
        <a href="{{ url_for('logginUser')}}"> Login</a>
    </div>
{% endblock %}
        
        