<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lab Doofenshmirtz </title>
</head>
<body>
    <nav id="navBarMain">
        <a href="{{ url_for('logginUser') }}"> Sign in - Loggin</a>
        <a href="{{ url_for('registerUser') }}"> Sing up - Register</a>
    </nav>
    {% for message in get_flashed_messages()  %}
        <p style="color: red; font-weight: 600">{{ message }}</p>
    {% endfor %}
    <div class="contentMainBlock">
        {% block contentMain %} {% endblock %}
    </div>
</body>
</html>