{% extends 'base.html.jinja' %}
{% block contentBase %}
    <div id="examInfoDetailed">
        <h1> {% block title %} Exam & Service Report: {% endblock %}</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WM2KXEzV-RI?si=afmL3sfXB62KSBsN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <ul>
            <li>
                <h3> How many exams are registered in each category?: </h3>
                {%for ex in categNewList%}
                    <p>Category: {{ex.name}}, n.:{{ex.num}}</p>
                {%endfor%}
            </li>
            <li>
                <h3> Which is the most common Indication?: </h3>
                <p>Code of most Common: {{mostCommonIndic.code}}</p>
                <p>Descrip. of most Common:  {{mostCommonIndic.description}}</p>
            </li>
            <li>
                <h3> Exams quantity filter by price range: </h3>
                <p>1 - 100bs...: {{intervalE.first}}</p>
                <p>101 - 200bs...: {{intervalE.second}}</p>
                <p>201 - 300bs...: {{intervalE.third}}</p>
                <p>301 - 500bs...: {{intervalE.fourth}}</p>
                <p>501 and more...: {{intervalE.fifth}}</p>
            </li>
        </ul>
    </div>
{% endblock %}