{% extends 'base.html.jinja' %}
{% block contentBase %}
    <div class="updateFormCateg"> 
        <h1> {% block title %} Update Category: {% endblock %}</h1>
        <form method="POST">
            <div>
                <label for="categName">Category Name: </label><br>
                <input type="string" name="categName" placeholder="Name here" value="{{categX.name}}">
                <br>
            </div>
            <div>
                <label for="categDescription">Description of the category: </label><br>
                <input type="string" name="categDescription" placeholder="Description here" value="{{categX.description}}">
                <br>
            </div>
            <input id="btnUpdateC" type="submit" value="Update">
        </form>
    </div>
{% endblock %}