{% extends 'base.html.jinja' %}
{% block contentBase %}
    <div class="updateFormExam"> 
        <h1> {% block title %} Update Exam & Service: {% endblock %}</h1>
        <form method="POST">
            <div>
                <label for="examCode">Exam & Service Code: </label><br>
                <input type="string" name="examCode" placeholder="Code here" value={{examX.codeExam}}>
                <br>
            </div>
            <div>
                <label for="examName">Exam Name: </label><br>
                <input type="string" name="examName" placeholder="Name in here" value={{examX.name}}>
                <br>
            </div>
            <label for="categories">Category: </label><br>
            <select name="category" id="categoryOptions">
                {% for c in categoriasList %}
                    {%if c.name==examX.indicationX%}
                        <option value="{{c.name}}" selected> {{c.name}}</option>
                    {%else%}
                        <option value="{{c.name}}"> {{c.name}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <div>
                <label for="typeOfSample">Sample type: </label><br>
                <input type="string" name="typeOfSample" placeholder="Type of sample here" value={{examX.typeOfSample}}>
                <br>
            </div>
            <div>
                <label for="priceExam">Type of sample: </label><br>
                <input type="int" name="priceExam" placeholder="Price .-in Bs-." value={{examX.price}}>
                <br>
            </div>
            <label for="indications"> Indication: </label><br>
            <select name="indication" id="indicationOptions">
                {% for indiX in indicacionesList %}
                    {%if indiX.description==examX.indicationX%}
                        <option value="{{indiX.description}}" selected> {{indiX.codeIndic}}</option>
                    {%else%}
                        <option value="{{indiX.description}}" selected> {{indiX.codeIndic}}</option>
                    {%endif%}
                {% endfor %}
            </select>
            <input id="btnUpdateE" type="submit" value="Update">
        </form>
    </div>
{% endblock %}