{% extends 'base.html.jinja' %}
{% block contentBase %}
    <div class="updateFormExam"> 
        <h1> {% block title %} Update Exam & Service: {% endblock %}</h1>
        <form method="POST">
            <div>
                <label for="examCode">Exam & Service Code: </label><br>
                <input type="string" name="examCode" placeholder="Code here" value={{examX.name}}>
                <br>
            </div>
            <label for="category">Category: </label><br>
            <select name="categories" id="categoryOptions">
                {% for c in categoriasList %}
                    <option value="{{c.name}}"> {{c.name}}</option>
                {% endfor %}
            </select>
            <div>
                <label for="typeOfSample">Sample type: </label><br>
                <input type="string" name="typeOfSample" placeholder="Type of sample here" value={{examX.typeOfSample}}>
                <br>
            </div>
            <div>
                <label for="priceExam">Type of sample: </label><br>
                <input type="string" name="priceExam" placeholder="Price "in Bs" value={{examX.price}}">
                <br>
            </div>
            <label for="indication"> Indication: </label><br>
            <select name="indications" id="indicationOptions">
                {% for indiX in indicacionesList %}
                    <option value="{{indiX.codeIndic}}"> {{indiX.codeIndic}}</option>
                {% endfor %}
            </select>
            <input id="btnUpdateE" type="submit" value="Update">
        </form>
    </div>
{% endblock %}