{% extends 'base.html.jinja' %}
{% block contentBase %} 
    <video width="320" height="240" autoplay>
        <source src="https://youtu.be/-eTzH1ecS6w?si=F2Q4C3H80Z1G3xLC" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
    </video>
{% endblock %}

